*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background: rgb(60, 60, 60);
    font-family: 'Maven Pro', Arial, sans-serif;
    box-sizing: border-box;
}

/* wrapper */

#wrapper{
   display: grid;
   justify-items: center;
   align-items: center; 
   grid-template-columns: 1fr 2fr 2fr 1fr;
   grid-template-rows: repeat(3, 2fr);
   grid-template-areas: 
   ". h-container h-container ."
   ". search search ."
   "main main main main"
   ". . . .";
}

/* Head container section */

section.head-container{
    grid-area: h-container

}
section.head-container h1{
    font-size: 2.4em;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: rgb(255,255,255);
    margin: 0;
}

/* Main */

main{
    grid-area: main;
    height: 10rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

section.search{
    padding: 2rem;
    grid-row: 1/2;
    grid-area: search;
    border-radius: 30px;
}
section.search input[type="search"]{
    padding: 0.5rem;
    width: 25rem;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}
input:focus{
    outline: none;
    transform: scale(1.03);
}

/* Button style */

section.search button.search-btn{
    display: block;
    margin: 20px auto 0;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255,0,0);
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}
button.search-btn:hover{
    transform: scale(1.05);
}
button.search-btn:active{
    transform: none;
}    
button.search-btn:focus{
    outline: 0;
}
.fa-play{
    color: rgb(255,255,255);
    font-size: 1.2em;
}

/* errorText style */

div.errorText{
    color: rgb(255,0,0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 1.1em;
    margin: 0;
    text-align: center;
}

/* result section style */

section.result {
    grid-row: 2/3;
    justify-self: end;
    display: grid;
    grid-template-rows: 1fr 2fr;
    column-gap: 10px;
    margin: 50px;
    padding: 80px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    background-color: rgba(22, 22, 22, 0.200);
}

/* author info */
div.author-info{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
}
div.author-info a{
    color: rgb(4, 145, 4);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.4em;
}
div.author-info a:hover{
    color: rgb(0, 210, 0);
}

/* entry info */

div.entry-info {
    grid-row: 2/3; 
    display: none; 
    width: 300px;
}

div.entry-info h2{
    color: rgb(255,255,255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 1rem;
    order: 3;
}

/* Date class */

.date{
    color: rgb(255,255,255);
}